#chinchilla, #blue-jay, #lion, #elephant{
display: none;
}

.hideanimal {
  display: none;
}

body {
  background: linear-gradient(to right, red, yellow, blue);
}

.imagesizer {
  height: 200px;
  width: auto;
}

p {
  font-weight: bold;
  margin-top: 30px;
}
